<input type="text" [(ngModel)]="value" />

<!-- <form [formGroup]="myForm">
  <div class="container">
    <div>
      <input kendoTextbox />
    </div>
    <div>
      <kendo-textbox-container floatingLabel="First name">
          <input kendoTextbox  formControlName="firstName"/>
      </kendo-textbox-container>
    </div>
    <div>
      <kendo-autocomplete
        formControlName="lastName"
        [data]="lastNamesSearchResult$ | async"
        (keyup)="lastNameKeyUp($event)"
      >
      </kendo-autocomplete>
    </div>
    <div>{{myForm.get('firstName').value}} {{myForm.get('lastName').value}} </div>
  </div>
</form> -->
